
@{
    ViewBag.Title = "Bricolage";
    Layout = "~/Views/Shared/_Home_layout.cshtml";
}

<!--================Home Banner Area =================-->
<section class="banner_area" style="background-image:url(/occupy/img/project/bricolage.jpg)">
    <div class="banner_inner d-flex align-items-center">
         <div class="container">
            <div class="banner_content">
                <h2>Projects</h2>
                <div class="page_link">
                    @Html.ActionLink("Accueil", "Home", "Home", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("Bricolage", "Bricolage", "Home", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<section class="success_area">
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/project/bricolage.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Mobilier</h4>
                <ul class="list">
                    <li><a href="#">Monter et Demonter mobilier</a></li>
                    <li><a href="#">Pose de tringle de rideaux</a></li>
                    <li><a href="#">Reparation mobilier</a></li>
                    <li><a href="#">Pose de grille et barrebellet </a></li>
                    <li><a href="#">Fixer etagere mirroir, television </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/project/bricolage.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Electricite</h4>
                <ul class="list">
                    <li><a href="#">installation domestique</a></li>
                    <li><a href="#">installation climatiseur</a></li>
                    <li><a href="#">installation domotique</a></li>
                    <li><a href="#">maintenance climatiseur</a></li>
                    <li><a href="#">maintenance refrigerateur</a></li>
                    <li><a href="#">maintenance televiseur</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/plomberie.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Plomberie</h4>
                <ul class="list">
                    <li><a href="#">fuite d'eau</a></li>
                    <li><a href="#">changer robineterie</a></li>
                    <li><a href="#">deboucher</a></li>
                    <li><a href="#">installer machine electro-domestique </a></li>
                    <li><a href="#">installer sanitaire </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/project/bricolage.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Renovation</h4>
                <ul class="list">
                    <li><a href="#">Murale</a></li>
                    <li><a href="#">Sol</a></li>
                    <li><a href="#">Deco</a></li>
                    <li><a href="#">Mobilier</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/jardinage.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Jardinage</h4>
                <ul class="list">
                    <li><a href="#">Entretien de jardin, gazon</a></li>
                    <li><a href="#">Debroussage et Desherbage</a></li>
                    <li><a href="#">Tailler des arbres</a></li>
                    <li><a href="#">installation de jardin, gazon, potagé</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>