
@{
    ViewBag.Title = "Informatique";
    Layout = "~/Views/Shared/_Home_layout.cshtml";
}

<section class="banner_area" style="background-image:url(/occupy/img/project/informatique.jpg)">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <h2>Projects</h2>
                <div class="page_link">
                    @Html.ActionLink("Accueil", "Home", "Home", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("Informatique", "Informatique", "Home", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<section class="success_area">
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/developpement.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Developpement Web et Mobile</h4>
                <ul class="list">
                    <li><a href="#">Creation de site web</a></li>
                    <li><a href="#">Creation de site mobile</a></li>
                    <li><a href="#">Creation d'application Desktop</a></li>
                    <li><a href="#">Creation de blog</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">UX Design</a></li>
                    <li><a href="#">Cours </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/project/informatique.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Multimedia</h4>
                <ul class="list">
                    <li><a href="#">Spot publicitaire</a></li>
                    <li><a href="#">Montage video</a></li>
                    <li><a href="#">Webmaster</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/design.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Infographie</h4>
                <ul class="list">
                    <li><a href="#">Affiche, Flyers, Logos, Images, Animation</a></li>
                    <li><a href="#">imagerie 2D</a></li>
                    <li><a href="#">Imagerie 3D</a></li>
                    <li><a href="#">Renovation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/project/informatique.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Reseau Telecom</h4>
                <ul class="list">
                    <li><a href="#">Installation reseau</a></li>
                    <li><a href="#">Maintenance</a></li>
                    <li><a href="#">Administration serveur</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/project/informatique.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Maintenance</h4>
                <ul class="list">
                    <li><a href="#">Ordinateur</a></li>
                    <li><a href="#">Telephone</a></li>
                    <li><a href="#">Installation imprimante</a></li>
                    <li><a href="#">Installation Parc informatique</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
