
@{
    ViewBag.Title = "Mecanique";
    Layout = "~/Views/Shared/_Home_layout.cshtml";
}

<section class="banner_area" style="background-image:url(/occupy/img/project/mecanique.jpg)">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <h2>Projects</h2>
                <div class="page_link">
                    @Html.ActionLink("Accueil", "Home", "Home", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("Mecanique", "Mecanique", "Home", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<section class="success_area">
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/vehicule.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Auto</h4>
                <ul class="list">
                    <li><a href="#">Maintenance</a></li>
                    <li><a href="#">Diagnostique</a></li>
                    <li><a href="#">Entretien</a></li>
                    <li><a href="#">Renovation</a></li>
                    <li><a href="#">location et vente</a></li>
                    <li><a href="#">Nettoyage</a></li>
                    <li><a href="#">Pieces de rechange</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/maintenance_auto.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>camion</h4>
                <ul class="list">
                    <li><a href="#">Maintenance</a></li>
                    <li><a href="#">Diagnostique</a></li>
                    <li><a href="#">Entretien</a></li>
                    <li><a href="#">Renovation</a></li>
                    <li><a href="#">location et vente</a></li>
                    <li><a href="#">Nettoyage</a></li>
                    <li><a href="#">Pieces de rechange</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/grue.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Engin Lourd</h4>
                <ul class="list">
                    <li><a href="#">Maintenance</a></li>
                    <li><a href="#">Diagnostique</a></li>
                    <li><a href="#">Entretien</a></li>
                    <li><a href="#">Renovation</a></li>
                    <li><a href="#">location et vente</a></li>
                    <li><a href="#">Nettoyage</a></li>
                    <li><a href="#">Pieces de rechange</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m0 right_dir">
        <div class="col-lg-6 p1">
            <div class="success_img">
                <img src="~/occupy/img/sub_project/maintenance_auto.jpg" style="height:500px; width:690px" alt="">
            </div>
        </div>
        <div class="col-lg-6 p0">
            <div class="mission_text">
                <h4>Industrielle</h4>
                <ul class="list">
                    <li><a href="#">Maintenance</a></li>
                    <li><a href="#">Diagnostique</a></li>
                    <li><a href="#">Entretien</a></li>
                    <li><a href="#">Renovation</a></li>
                    <li><a href="#">location et vente</a></li>
                    <li><a href="#">Nettoyage</a></li>
                    <li><a href="#">Pieces de rechange</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

